/*
 Class-based Rules
*/


/*
 ID-based Rules
*/

/*#main-menu {
  padding: 10px 20px 0px 0px;
}*/

#cdf-logo {
  padding: 20px 0px 10px 0px;
}
#compsoc-logo {
  padding: 0px 0px 20px 0px;
}

/* tag based */
 #homepage div {
  padding: 50px 0px 0px 0px;
}

/* cardiff color:
  background-color: rgb(203, 15, 61);
}*/


html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

.secondary.menu .toc.item {
      display: none;
    }


@media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      /*.secondary.menu .item,*/
      .secondary.menu #nav {
        display: none;
      }
      .secondary.menu .toc.item {
        display: block;
      }
    }
